.form-container {
  display: flex; }

.user-search-input {
  margin: 0 1rem;
  height: 30px;
  width: 250px;
  border-radius: 8px;
  border: none;
  font-size: 18px; }

.header-search-dropdown {
  border-radius: 8px;
  height: 30px;
  border: none;
  font-size: 18px; }
