.overview-header{
  display: flex;
  justify-content: space-between;
  background-color: #d01313;
  height: 40px;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.brand{
  font-weight: bold;
  font-size: 20px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0 2rem;
  color: #fff;
}

.search-wrapper{
  display: flex;
  margin-right: 2rem;
}

.dropdown{
  height: 20px;
  padding: 3;
}
