@import "./scss/variables.scss";
@import "./scss/reset.scss";
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button{
  border: none;
}
.App{
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
}

.tweet-display{
  display: flex;
  overflow: scroll;
}

.content-wrapper{
  margin-left: 2rem;
}

.horizontal-rule {
    border: 0;
    height: 1px;
    background: #333;
}
