@import "./scss/variables.scss";
@import "./scss/reset.scss";
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button{
  border: none;
}
.App{
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
}

.tweet-display{
  display: flex;
  flex-direction: column;
  // overflow: scroll;
}

.content-wrapper{
  margin-left: 2rem;
}

.horizontal-rule {
  border: 0;
  height: 1px;
  background: #333;
}

.tab-group{
  margin: 0 auto;
  max-width: 40em;
  width: 100%;
}

.tab{
  position: relative;
  width: 100%;
}

.tab__hidden-radio{
  position:absolute;
  left: 0;
  top: 0;
  z-index: -999;
}

.tab__header-label{
  background: red;
  color: white;
  display: block;
  font-weight: bold;
  line-height: 3;
  padding-left: .5em;
  margin-bottom: .5em;
  transition: letter-spacing .55s;
}

.tab input:focus + label,
.tab label:hover {
  background: #d01313;
  letter-spacing: 1px;
}

.tab-content{
  max-height: 0;
  overflow-y: scroll;
  transition: all .35s;
}

.tab-content {
  margin: 1em 0;
}

.tab input:checked ~ .tab-content{
  max-height: 75vh;
}
