.profile-wrapper{
  display: flex;

}

.profile-img{
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.profile-info{
  flex-direction: column;
  margin-left: 1rem;
}
.profile-data-field{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
