$font-stack: sans-serif;
$primary-color: #d01313;

$header-border-radius: 8px;
$header-item-height: 30px;
$header-font-size: 18px;

$shadow-standard: 1px 1px 5px grey;
$shadow-center: 0px 0px 5px black;

$tweetlist-heading-font-size: 30px;
